{% extends 'clinica/base.html' %}

{% block conteudo %}
<div class="alert alert-danger shadow">
    <h4>Deseja cancelar a consulta de "{{ objeto.animal.nome }}"?</h4>
    <p>Data agendada: <strong>{{ objeto.data|date:"d/m/Y H:i" }}</strong></p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, Cancelar Consulta</button>
        <a href="{% url 'agendamento_lista' %}" class="btn btn-secondary">Não, Voltar</a>
    </form>
</div>
{% endblock %}