{% extends 'clinica/base.html' %}

{% block conteudo %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-info text-white d-flex justify-content-between align-items-center py-3">
        <h4 class="mb-0 fw-bold"><i class="bi bi-people-fill"></i> Base de Clientes</h4>
        
        {% if user.is_staff %}
            <a href="{% url 'tutor_criar' %}" class="btn btn-light btn-sm fw-bold text-info">
                <i class="bi bi-plus-lg"></i> Novo Cliente
            </a>
        {% endif %}
    </div>
    <div class="card-body p-0">
        <table class="table table-hover align-middle mb-0">
            <thead class="bg-light">
                <tr>
                    <th class="ps-4">Nome Completo</th>
                    <th>Contato</th>
                    <th>Documento (CPF)</th>
                    <th class="text-end pe-4">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for tutor in tutores %}
                <tr>
                    <td class="ps-4 fw-bold">{{ tutor.nome }}</td>
                    <td><i class="bi bi-telephone text-muted"></i> {{ tutor.telefone }}</td>
                    <td><small class="text-muted font-monospace">{{ tutor.cpf }}</small></td>
                    <td class="text-end pe-4">
                        <div class="btn-group">
                            <a href="{% url 'tutor_detalhe' tutor.pk %}" class="btn btn-sm btn-outline-info" title="Ficha e Pets">
                                <i class="bi bi-eye"></i>
                            </a>

                            {% if user.is_staff %}
                                <a href="{% url 'tutor_editar' tutor.pk %}" class="btn btn-sm btn-outline-secondary" title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{% url 'tutor_deletar' tutor.pk %}" class="btn btn-sm btn-outline-danger" title="Excluir">
                                    <i class="bi bi-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="4" class="text-center py-4 text-muted">Nenhum cliente cadastrado.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}